@media(max-width: 1230px) {
    .slick-btn {
        max-width: 110px;
    }
    .city__items-images {
        display: none;
    }
    .cities .cities__towns {
        display: block;
        text-align: center;
        position: static;
    }
    .city__item-slider {
        .city__item-slide {
            img {
                margin: 0 auto;
                max-width: 700px;
                width: 100%;
                max-height: 500px;
                height: 100%;
            }
        }
        display: block;
        max-width: 100%;
        min-height: 100%;
        margin: 20px 40px 20px;
    }
    .slick-dots {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
        button {
            font-size: 0;
            width: 15px;
            height: 15px;
            border: none;
            border-radius: 50%;
            background-color: rgb(199, 205, 211);
        }
        li+li {
            margin-left: 5px;
        }
        li.slick-active {
            button {
                background-color: rgb(110, 101, 243);
            }
        }
    }
}

@media(max-width: 1165px) {
    .header__content-information ul li {
        line-height: 25px;
    }
}

@media(max-width: 1130px) {
    .place__item-inner {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .place__item {
        margin-top: 20px;
    }
    .br-class {
        display: block;
    }
    .header__content-information {
        text-align: center;
    }
    .header__content-information .header__content-title {
        line-height: 70px;
    }
}

@media(max-width: 1010px) {
    .place__item ul li+li {
        margin-left: 20px;
    }
    .header__menu-list {
        display: none;
        position: absolute;
        z-index: 500;
        left: 0;
        top: 0;
        bottom: 0;
    }
    .header__menu ul li::after {
        display: none;
    }
    .header__menu ul {
        background-color: rgb(12, 22, 24);
        text-align: center;
        max-width: 220px;
        width: 100%;
    }
    .header__menu ul li {
        font-size: 30px;
        margin-bottom: 40px;
        display: block;
        &:first-child {
            margin-top: 100px;
        }
    }
    .header__menu ul li+li {
        margin-left: 0;
    }
    .header__menu-btn {
        display: block;
    }
    .header__content-information ul li+li {
        margin-left: 15px;
    }
    .cities .cities__towns span.main__town {
        display: block;
        width: 100%
    }
}

@media(max-width: 880px) {
    .city__item-slide {
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    .header__content-inner {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .header__content-information ul {
        margin: 0 auto;
    }
    .header__content-form {
        margin-right: 0;
    }
    .city__bg-design {
        display: none;
    }
    .slick-list,
    .slick-slider,
    .slick-track {
        text-align: center;
    }
}

@media(max-width: 690px) {
    .login-menu ul li+li {
        border-left: 0;
    }
    .info-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .login-menu ul li+li {
        padding-left: 0;
        margin-top: 0;
        padding-top: 0;
    }
    .place__item-img {
        max-height: 100%;
    }
}

@media(max-width: 600px) {
    .tour__slider .slick-dots {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        button {
            font-size: 0;
            width: 15px;
            height: 15px;
            border: none;
            border-radius: 50%;
            background-color: rgb(199, 205, 211);
        }
        li+li {
            margin-left: 5px;
        }
        li.slick-active {
            button {
                background-color: rgb(110, 101, 243);
            }
        }
    }
}

@media(max-width: 560px) {
    .header__content-information ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .header__menu img {
        margin-left: 0;
        margin-right: 9px;
    }
    .header__content-information ul li {
        margin-bottom: 10px;
    }
}

@media(max-width: 520px) {
    .footer__inner {
        padding: 10px 15px;
    }
    .login-menu-inner {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .login-menu ul li+li {
        padding-top: 0;
        padding-right: 0;
        margin-right: 3px;
    }
    .login-menu ul li {
        padding-bottom: 10px;
    }
    .header__menu-btn {
        margin: auto 5px;
    }
}

@media(max-width: 500px) {
    .login-btn {
        padding: 5px 20px;
        margin-bottom: 5px;
    }
    .cities .cities__towns span {
        display: block;
        margin-bottom: 10px;
    }
}

@media(max-width: 410px) {
    .info-list {
        margin-right: 7px;
        flex-wrap: wrap;
    }
    .header__menu img {
        width: 90px;
    }
    .login-menu ul li {
        margin-top: 10px;
        display: block;
        width: 100%;
        text-align: center;
        padding-right: 0;
        &+li {
            margin-right: 0;
        }
    }
    .header__content-information .header__content-title {
        font-size: 40px;
    }
}

@media(min-width: 1011px) {
    .header__menu-list {
        display: block !important;
    }
}